@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-about {
  padding: 140px 0;

  &.home {
    @media (max-width: $breakpoint-md) {
      padding: 56px 0 100px 0;
    }
  }

  & .heading {
    margin-bottom: 39px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px
    }
  }

  & .description {
    margin-bottom: 40px;
  }


  & .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    &__wrap {
      padding-bottom: 100%;
      position: relative;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 24px;
      }
    }
  }
}

.s-mission {
  padding: 0 0 120px 0;
  @media (max-width: $breakpoint-md) {
    padding: 60px 0 80px 0;
  }

  & .decor {
    position: absolute;
    bottom: 140px;
    width: 100%;
    z-index: -1;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  .mission {
    &__img {
      width: 55%;
      height: 55%;

      &-wrap {
        margin-right: 16px;
        width: 72px;
        height: 72px;
        box-shadow: 0px 4px 16px 0px #0000001F;
        @media (max-width: $breakpoint-md) {
          width: 62px;
          height: 62px;
        }
      }
    }

    &__heading {
      color: $accent-color;
      @include fontSize(16, 20);
      width: calc(100% - 88px);
      @media (max-width: $breakpoint-md) {
        width: calc(100% - 78px);
      }
    }

    &__description {
      margin-top: 24px;
      line-height: 1.4;
      @include fontSize(14, 16);
      color: #1B1B1B;

    }

    &__item {
      background-color: #fff;
      box-shadow: 0px 0px 30px 0px #3C507233;
      padding: 24px;
      margin-bottom: 20px;
    }

    &__wrap {
      margin-top: 56px;
      @media (max-width: $breakpoint-md) {
        margin-top: 32px;
      }
    }
  }
}

.s-brand {
  padding-top: 140px;
  @media (max-width: $breakpoint-md) {
    padding-top: 56px;
  }

  .brand {
    &__item {
      margin-bottom: 140px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 56px;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        & .brand__info {
          padding-right: 36px;
          @media (max-width: $breakpoint-md) {
            padding-right: 0;
          }
        }
      }

      &:nth-child(odd) {
        & .brand__info {
          padding-left: 36px;
          @media (max-width: $breakpoint-md) {
            padding-left: 0;
          }
        }
      }

      & .line {
        background: rgba(0, 0, 0, .1);
        width: 100%;
        height: 1px;
        margin: 24px 0;
        @media (max-width: $breakpoint-md) {
          margin: 20px 0;
        }
      }
    }

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 64%;
      width: 64%;
      transform: translate(-50%, -50%);
      object-fit: cover;

      &-wrap {
        position: relative;
        padding-bottom: 100%;
        box-shadow: 0px 0px 30px 0px #3C507233;
        @media (max-width: $breakpoint-md) {
          margin-bottom: 24px;
        }
      }
    }

    &__heading {
      margin-bottom: 40px;
      @include fontSize(24, 32);
      color: $accent-color;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 20px;
      }
    }

    &__description {

      @media (max-width: $breakpoint-md) {
        margin-bottom: 40px;
      }
    }
  }
}

.s-tm {
  padding-bottom: 140px;
  @media (max-width: $breakpoint-md) {
    padding-bottom: 100px;
  }

  & .decor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    @media (max-width: $breakpoint-md) {

    }
  }

  & .brand {
    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 70%;
      width: 70%;
      transform: translate(-50%, -50%);
      object-fit: contain;

      &-wrap {
        box-shadow: 0px 0px 30px 0px rgba(60, 80, 114, 0.2);
        background: $whiteColor;
        padding-bottom: 80%;

        &:last-child {
          @media (max-width: $breakpoint-md) {
            grid-column: 1 / -1;
            padding-bottom: 40%;
          }
        }
      }
    }

    &__wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
    }
  }
}

.s-certificates {
  margin-bottom: 140px;

  & .certificate {
    &__item {
      padding: 18px;
      box-shadow: 0px 0px 30px 0px #3C507233;
      background: #fff;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-wrap {
        padding-bottom: 62%;
      }
    }
  }

  & .heading {
    margin-bottom: 48px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 8px;
      text-align: center;
    }
  }

  @media (min-width: $breakpoint-md) {
    & .swiper-button__wrap {
      position: absolute;
      top: 0;
      right: 15px;
    }
  }
}

.s-history {
  padding: 140px 0;
  background: #F4F4F4;
  @media (max-width: $breakpoint-md) {
    padding: 100px 0;
  }

  & .heading {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
      text-align: center;
    }
  }

  .history {
    &__title {
      @include fontSize(20, 24);
      margin-bottom: 24px;
    }

    &__item {
    }

    &__year {
      @include fontSize(14, 16);
      color: #0F0E68;

      &:after {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid rgba(232, 16, 16, 1);
        background-color: #fff;
        display: block;
        position: absolute;
        top: -52px;
        left: 50%;
        transform: translateX(-50%);
        @include transition(.3);
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-wrap {
        padding-bottom: 100%;
      }
    }
  }

  .swiper {
    &-slide-thumb-active {


      & + .swiper-slide {

      }

      .history {
        &__year {
          color: rgba(232, 16, 16, 1);

          &:after {
            background-color: rgba(232, 16, 16, 1);
          }
        }
      }
    }

    &-bottom {
      margin-bottom: 56px;
      padding-top: 56px;
      position: relative;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 18px;
      }

      &:after {
        content: '';
        background: rgba(15, 14, 104, 0.08);
        width: 100vw;
        margin-left: calc((-100vw + 100%) / 2);
        position: absolute;
        height: 6px;
        top: 11px;
      }
    }

    &-button__wrap {
      position: absolute;
      top: 0;
      right: 10px;
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
  }
}

.s-steps {
  padding: 140px 0 64px 0;

  & .heading {
    margin-bottom: 48px;
  }

  & .step {
    &__item {
      padding: 18px 0 18px 18px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      @media (max-width: $breakpoint-md) {
        height: auto;
        padding: 24px 0;
      }

      &:before {
        content: '';
        width: 1px;
        height: 100%;
        background: rgba(0, 0, 0, .2);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__description {
      margin: 24px 0;
      @media (max-width: $breakpoint-md) {
        margin: 16px 0;
      }
    }

    &__heading {
      @include fontSize(16, 20);
      color: $accent-color;
    }

    &__number {
      @include fontSize(16, 20);
      color: #E81010;
    }
  }

  & .column {
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, .2);
      position: absolute;
      top: 0;
      left: 10px;
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      &:after {
        display: none;
      }
    }

    &:last-child {
      & .step__item {
        &:before {
          @media (max-width: $breakpoint-md) {
            display: none;
          }
        }
      }
    }

    &:not(&:last-child) {
      & .step__item {
        &:before {
          @media (max-width: $breakpoint-md) {
            top: auto;
            bottom: 0;
            height: 1px;
            width: 100%;

          }
        }
      }
    }
  }
}

.s-career {
  padding: 56px 0 140px 0;
  @media (max-width: $breakpoint-md) {
    padding: 40px 0 100px 0;
  }
  & .accordeon {
    margin-top: 56px;
  }

  .upload-input-wrap {
    position: relative;
    margin-top: 10px;
  }

  input[type=file] {
    font-size: 14px;
    width: max-content;
    height: 100%;
    display: block;
    background: #ccc;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .cta {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
    padding: 32px;

    & .btn-primary {
      width: 100%;
    }

    & .heading {
      @include fontSize(24, 32);
      color: rgba(0, 0, 0, 1);
      margin-bottom: 24px;
    }

    & .description {
      margin-bottom: 32px;
    }
  }
}

.job {
  &-name {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 20px;
    width: calc(100% - 64px);
    @media (max-width: $breakpoint-md) {
      width: calc(100% - 56px);
      display: block;
    }

    & span {
      display: block;
      font-weight: 500;
      @include fontSize(16, 24);
      line-height: 1.4;
      color: #000;
      width: calc(100% - 64px);
      @media (max-width: $breakpoint-md) {
        width: 100%;

      }
    }

    & .img {
      &__wrap {
        width: 64px;
        height: 64px;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
        @media (max-width: $breakpoint-md) {
          display: none;
        }

      }
    }
  }

  &-info {

    padding: 32px 0;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    @media (max-width: $breakpoint-md) {
      padding: 24px 0 16px 0;
    }

    &__item {
      &:not(&:last-child) {
        margin-bottom: 32px;
      }
    }

    &__title {
      margin-bottom: 24px;
      @include fontSize(16, 20);
    }
  }
}

