@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-contacts {
  &.mb-170 {
    margin-bottom: 170px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 120px;
    }
  }

  &.--home {
    padding: 90px 0 143px 0;
    @media (max-width: $breakpoint-md) {
      padding: 20px 0 109px 0;
    }
  }

  &:not(&.--home) {
    padding: 50px 0 60px 0;
    @media (max-width: $breakpoint-md) {
      padding: 35px 0 43px 0;
    }
  }

  & .contact {
    margin-bottom: 10px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 20px;
    }

    &__title {
      font-size: 24px;

      & span {
        font-size: 18px;
        font-weight: 300;
        display: block;
        width: 100%;
      }
    }


    & .img {
      width: 21px;
      height: 21px;
      object-fit: contain;

      &__wrap {
        width: 45px;
        height: 45px;
        border-radius: 10px;
        margin: 0 auto 15px auto;
        background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);

        & i {
          font-size: 21px;
          color: #fff;
        }
      }
    }

  }

  &__cta {
    background-color: #D8D6D1;
    padding: 20px 0;
    position: relative;

    &:after {
      content: '';
      width: 100vw;
      background: #D8D6D1;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      margin-left: calc((-100vw + 100%) / 2);
      z-index: -1;
    }

    @media (max-width: $breakpoint-md) {
      padding: 12px 12px 0 12px;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute !important;

    &--wrap {
      height: 395px;
      border-radius: 10px;
      overflow: hidden;
      z-index: 1;
    }
  }

  .map-info {
    font-size: 24px;
    text-align: center;
    min-width: 250px;
  }
}

.s-cta {
  margin-bottom: 140px;

  & .heading {
    margin-bottom: 24px;
  }

  .description {
    margin-bottom: 32px;
  }

  & .btn-primary {
    width: 100%;
  }

  & .decor-large {
    position: absolute;
    bottom: 250px;
    right: -128px;
    height: 525px;
    width: 365px;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__inner {
    box-shadow: 0px 4px 16px 0px #0000001F;
    padding: 40px;
    @media (max-width: $breakpoint-md) {
      padding: 20px 20px 28px 20px;
    }
  }

  & .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &__wrap {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;

      &:after {
        content: "";
        width: 70%;
        height: 100%;
        background: linear-gradient(90deg, rgba(244, 244, 244, 0) 0%, #8E8E8E 100%);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}